# =====================
# Environment
# =====================
.env
.env.*

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/

# =====================
# Databases
# =====================
*.db
*.sqlite3

# =====================
# Logs
# =====================
*.log

# =====================
# Node / Frontend
# =====================
node_modules/
dist/
dist-ssr/
*.local

# =====================
# Editors & OS
# =====================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
